
<div id="baslikDiv" class="container">
    <div class="row">
        <div id="logoDiv" class="col-md-5">

            <img src="~/CSS/sblogo.png" />
            <h4>Bilecik Devlet Hastanesi</h4>
        </div>

        <div id="aramaDiv" class="col-md-5 offset-2">
            <input placeholder="arama" />
        </div>
    </div>
</div>
