<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bilecik Devlet Hastanesi</title>
    <link href="~/CSS/bootstrap.css" rel="stylesheet" />
    <link href="~/CSS/site.css" rel="stylesheet" />
</head>
<body>

    @Html.Partial("_baslik")

    <div id="icerik" class="container">
        @RenderBody()
    </div>

    <div class="container">
        <div class="row">

            Bilecik Pelitözü Mahallesi
        </div>

    </div>
</body>
</html>
