@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/CSS/site.css" rel="stylesheet" />

 
</head>
<body>
    <div class="baslik" id="siteBaslik">
        <div class="icBaslik">
            <label>Anasayfa</label>
            <label>Site Haritası</label>
            <label>Bilecik İl Sağlık Müdürlüğü</label>
        </div>

        <div class="logoDiv">
            <img src="~/CSS/sblogo.png" />

            <h2>Bilecik Devlet Hastanesi</h2>
        </div>

        <div class="aramaDiv">
            <input type="text" placeholder="arama" />
        </div>
    
    </div>
    <div class="menuDiv">
        <label>Buraya menüler gelecek</label>
    </div>
</body>
</html>
