@{
    Layout = "~/Views/Shared/siteLayout.cshtml";
}

<link href="~/CSS/baslangic.css" rel="stylesheet" />

<div class="container">
    
    <div class="row">

        <div id="resimDiv" class="col-md-5 cerceve">
            <img src="~/CSS/bayrakBina.jpg" />            
        </div>

        <div id="duyuruDiv" class="col-md-5 cerceve">
            <ul>
                <li>Duyuru 1</li>
                <li>Duyuru 2</li>
                <li>Duyuru 3</li>
            </ul>
        </div>

    </div>
</div>