@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/CSS/bootstrap.css" rel="stylesheet" />
    <title></title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-3 bg-info">
                <label>col-md-3 sınıfına sahip kutu</label>
            </div>

            <div class="col-md-6 bg-warning">
                <label>col-md-6 sınıfına sahip kutu</label>
            </div>

            <div class="col-md-3 bg-success">
                <label>col-md-3 sınıfına sahip kutu</label>
            </div>
        </div>
    </div>
 

    <div class="row">
        <div class="col">
            <label>col sınıfı ile kullanım</label>
        </div>
        <div class="col">
            <label>col sınıfı ile kullanım</label>
        </div>
        <div class="col">
            <label>col sınıfı ile kullanım</label>
        </div>
      
    </div>

    <div class="container">
        <div class="row">
            <div class="col">içerik 1</div>
            <div class="col">içerik 2</div>
            <div class="col">içerik 3</div>
        </div>

        <div class="row">
            <table class="table table-bordered table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>Ad</th>
                        <th>Soyad</th>
                        <th>Bölüm</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Ali</td>
                        <td>Yılmaz</td>
                        <td>İnşaat</td>
                    </tr>
                    <tr class="table-primary">
                        <td>Ahmet</td>
                        <td>Kala</td>
                        <td>Endüstri Mühendisliği</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
