@{
    Layout = "~/Views/Shared/siteLayout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-md-12">

            <h3>@ViewData["KullaniciAdi"]   @TempData["OturumNumara"]</h3>

            <h4>@ViewBag.DuyuruNumara  numaralı duyuru görüntüleniyor</h4>

            <p>@ViewBag.DuyuruMetin</p>

        </div>
    </div>

</div>