@model Hastane.Models.Duyuru

@{
    Layout = "~/Views/Shared/siteLayout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-md-12">

            <h4>@Model.Baslik <small>@Model.YayinTarihi</small></h4>

            <p>@Model.No @Model.Metin</p>

        </div>

    </div>

</div>

